@import url('https://fonts.googleapis.com/css2?family=Sansita&family=Zeyada&display=swap');

:root {
    --variavel: conteudo;
    --font-main: 'Sansita', sans-serif;
    --font-Zeyada: 'Zeyada';
    --font-color-home-menu: #F1FAEE;

    /*Sobre*/
    --sobre__header__title--font-color:#1D3557;
    --sobre__header_button--font-color: #1D3557;
    --sobre__main__title--font-color:#1D3557;
    --sobre__main__section__title--font-color: #457B9D;
    --sobre__main__section__text--font-color: #F1FAEE;
    
}

ul, .header__menu{
    list-style: none;
}
li{
    text-decoration: underline;
}
