/*Cabecalho*/
.container__header--home{
    background-color: var(--home__header__cabecalho--backgroundColor);    
}
.container__header__title--home{
    color: var(--home__header__cabecalho__title--fontcolor);
}
.container__header__menu__item--home{
    color: var(--home__header__cabecalho__menu--fontcolor);
}
