/*Main*/
.main__cardapio{
    display: flex;
    background-color: var(--home__main--backgroundColor);
    flex-direction: column;
}

/*Pesquisa*/
.main__cardapio__pesquisa{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    justify-content: center;
    row-gap: 3rem;
}
.main__cardapio__pesquisa__title{
    font-size: 34px;
}
.main__cardapio__pesquisa__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    row-gap: 1rem;
    width: 100%;
}
.main__cardapio__pesquisa__form__pesquisa{
    width: 70%;
    min-width: 100px;
    max-width: 400px;
}
.main__cardapio__pesquisa__form__pesquisa:hover{
    transform: scale(1.3);
}
.main__cardapio__pesquisa__form__lista{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    row-gap: 1rem;
    width: 100%;
}
.main__cardapio__pesquisa__form__lista__item{
    height: 10%;
    width: 30%;
    min-width: 100px;
    max-width: 300px;
}
.main__cardapio__pesquisa__form__botao{
    background-color: var(--main__cardapio__pesquisa__form__botao--background);
    border-style: none;
    box-shadow: 2px 2px 5px #494949;
    color: var(--main__cardapio__pesquisa__form__botao--fontColor);
    text-align: center;
    transition-duration: 0.5s;
    width: 100%;
    padding: 0.5rem 0;
}
.main__cardapio__pesquisa__form__botao:hover{
    border: 2px solid #E63946;
    transform: scale(1.2);
}

/*Cardápio Refeições*/
.main__cardapio__refeicoes{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.main__cardapio__refeicao{
    width: 90%;
    box-shadow: 2px 2px 5px #494949;
}

/*Cardápio Blog*/
.main__cardapio__blog{
    align-items: center;
    background-color: var(--main__cardapio__pesquisa--backgroundcolor);
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
    padding: 1rem 0rem;
}
.main__cardapio__blog__title{
    color: var(--main__cardapio__blog__title);
    font-size: 34px;
}
.main__cardapio__blog__img{
    width: 90%;
}
/*Desktop*/
@media screen and (min-width: 1024px){
    /*main*/
    .main__cardapio{
        align-items: center;
        padding-top: 2rem;
    }
    /*Pesquisa*/
    .main__cardapio__pesquisa{
        align-items: flex-start;
        width: 80%;
        height: 30vh;
    }
    .main__cardapio__pesquisa__form{
        align-items: flex-start;
        height: 40%;
    }
    .main__cardapio__pesquisa__form__lista{
        flex-direction: row;
    }
    .main__cardapio__pesquisa__form__lista{
        column-gap: 2rem;
        row-gap: 0rem;
        width: auto;
        height: 40%;
    }

    /*Cardápio Refeições*/
    .main__cardapio__refeicoes{
        column-gap: 5%;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;        
        padding-bottom: 5rem;
        width: 80%;
    }
    .main__cardapio__refeicao{
        width: 30%;
        transition: 1s;
    }
    .main__cardapio__refeicao:hover{
        border-radius: 10px;
        transform: scale(1.2);
    }

    /*Cardápio Blog*/
    .main__cardapio__blog{        
        display: grid;
        grid-template:
        "titulo titulo titulo titulo"
        "destaque destaque destaque imagem1"
        "destaque destaque destaque imagem2";
        grid-column-gap: 1rem;
        justify-items: stretch;
        padding: 2% 10%;
    }
    .titulo-secundario_blog{
        grid-area: titulo;
    }
    .main__cardapio__blog__img{
        height: 100%;
        width: 100%;
        transition: 1s;
    }
    .main__cardapio__blog__img:hover{
        border-radius: 10px;
        transform: scale(1.2);
    }
    .main__cardapio__blog__img__destaque{
        grid-area: destaque;   
    }
    .main__cardapio__blog__img__imagem1{
        grid-area: imagem1;
    }
    .main__cardapio__blog__img__imagem2{
        grid-area: imagem2;
    }
}
