/*Main*/
.main__cardapio{
    display: flex;
    background-color: var(--home__main--backgroundColor);
    flex-direction: column;
}

/*Pesquisa*/
.main__cardapio__pesquisa{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    justify-content: center;
    row-gap: 3rem;
}
.main__cardapio__pesquisa__title{
    font-size: 34px;
}
.main__cardapio__pesquisa__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    row-gap: 1rem;
    width: 100%;
}
.main__cardapio__pesquisa__form__pesquisa{
    width: 70%;
}
.main__cardapio__pesquisa__form__lista{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    row-gap: 1rem;
    width: 100%;
}
.main__cardapio__pesquisa__form__lista__item{
    height: 10%;
    width: 30%;
    min-width: 100px;
    max-width: 300px;
}
.main__cardapio__pesquisa__form__botao{
    background-color: var(--main__cardapio__pesquisa__form__botao--background);
    border-style: none;
    box-shadow: 2px 2px 5px #494949;
    color: var(--main__cardapio__pesquisa__form__botao--fontColor);
    text-align: center;
    transition-duration: 0.5s;
    width: 100%;
    padding: 0.5rem 0;
}
.main__cardapio__pesquisa__form__botao:hover{
    border: 2px solid #E63946;
    transform: scale(1.2);
}
