/*Rodape*/
/*Bloco principal*/
.container--rodape{
    background-color: var(--rodape--backgroundColor);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}
.rodape__title{
    font-size: 34px;
}

/*Bloco Menu*/
.rodape__menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.rodape__menu__itens{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.rodape__menu__item{
    color: var(--rodape--fontColor);
    display: inline-block;
    text-decoration: underline #E63946;
    transition: 1s;
}
.rodape__menu__item:hover{
    transform: scale(1.5);
}

/*Bloco contato*/
.rodape__contato{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.rodape__contato__icones{
    display: flex;
    column-gap: 2rem;    
}
.rodape__contato__ico{
    display: inline-block;
    transition: 1s;
}
.rodape__contato__ico:hover{
    transform: scale(1.5);
}

/*Bloco endereço*/
.rodape__endereco{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
}
.rodape__endereco__text{
    font-size: 20px;
    line-height: 2rem;
}
.rodape__buscar{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

@media screen and (min-width:1024px){
    .container--rodape{
        flex-direction: row;
        height: auto;
        padding: 3rem 0rem;
    }
    .rodape__endereco{
        align-items: flex-start;
        row-gap: 1rem;
        text-align: left;
    }
    .rodape__buscar{
        align-items: flex-start;
    }
}
